/* Position banner */

#donate-banner {
    position: relative;
    margin: 0 auto;
    max-width: 986px;
    padding: 1em 2em;
    display: block;
    font-family: "Source Sans Pro Regular", sans-serif;
    background-color: white;
}

/* Style for 2020 */

/* /!\ Always check the style on pages with Bootstrap like /index /!\ */

#donate-banner {
    background-color: #ffd500;
    background-image: url(banner/godzilla.png), url(banner/city.png);
    background-repeat: no-repeat;
    background-size: 450px, 250px;
    background-position: -80px -70px, right bottom;
    padding-left: 200px;
}

#donate-banner:hover {
    text-decoration: none;
}

#donate-banner p {
    margin: 0 !important;
    line-height: 1em;
    font-size: 20px;
    color: black;
}

#donate-banner .first {
    margin-bottom: 0.2em !important;
}

#donate-banner .second {
    font-weight: bold;
}

#donate-banner .second u {
    text-decoration: none;
    border-bottom: 2px solid black;
}

@media (max-width: 986px) {
#donate-banner {
    background-size: 330px, 175px;
    background-position: -60px -40px, right bottom;
    padding-left: 150px;
    padding-bottom: 1.5em;
}
#donate-banner p {
    font-size: 16px;
    line-height: 1.25em;
}
}

@media (max-width: 270px) {
#donate-banner {
    background-size: 210px, 175px;
    background-position: -30px bottom, right bottom;
    padding-left: 100px;
}
}
