.parentlinks, .topbar, #footer, footer {
  display: none;
}

.banner a {
  pointer-events: none;
  cursor: default;
}

#search-and-donate {
  display: none;
}

#unsafe {
  background: #ffd500 url(warning.png) no-repeat left 15px center !important;
  padding-top: 20px;
  padding-left: 80px;
  padding-bottom: 1px;
  border-radius: 0.5em;
}

#unsafe p.big {
  font-size: 20px;
  margin-bottom: 20px;
}

#unsafe p.small {
}

#eyes img {
  width: 500px;
  margin: 2em auto;
  display: block;
}
