#needs, #steps {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

#needs div, #steps a {
  width: 150px;
  margin-right: 0px;
}

#needs > div > p, #steps a p {
  text-align: center;
  margin: 0;
}

/* Needs */

#needs div img {
  height: auto;
  width: 100px;
  margin: 0 25px;
}

#needs div p.small {
  font-size: 11px;
  color: #666;
  line-height: 16px;
}

#needs .floating-toggleable div.toggleable {
  margin: 1em -5em;
}

/* Steps */

#steps a {
  border-bottom: none;
  color: black;
}

#steps a img {
  height: auto;
  width: 150px;
  margin: 0 0 -25px 0;
}

#steps a p {
  margin: 0 10px 0 10px;
}
