[Unit]
Description=Wi-Fi panel from GNOME Control Center
ConditionUser=1000

[Service]
Type=oneshot
StandardError=journal
# we'd love to use "gtk-launch gnome-wifi-panel", but it doesn't work for some reason
ExecStart=/usr/bin/gnome-control-center wifi

