[Unit]
Description=Dump the default user environment
After=gnome-session-wayland@gnome.target
ConditionUser=1000

[Service]
Type=oneshot
ExecStart=/usr/local/lib/dump-user-env
RemainAfterExit=yes

[Install]
WantedBy=gnome-session-wayland@gnome.target
