[Unit]
Description=Proxy the IBus
StopWhenUnneeded=true
ConditionUser=1000
# XXX: Bookworm: Replace this with an After= dependency on
# org.freedesktop.IBus.session.GNOME.service
# Refs: #19575
After=org.gnome.Shell@wayland.service

[Service]
Type=forking
ExecStart=/usr/local/lib/tails-ibus-proxy
PIDFile=/run/user/1000/.dbus-proxy/ibus-proxy.pid

[Install]
WantedBy=desktop.target
