[Unit]
Description=Copy to Persistent Storage the Tor configuration that should now persist
# Ensure we stop this service in the shutdown process before anything
# else unmounts the Persistent Storage while we're still copying
# data to it (fixes #18926)
After=systemd-logind.service

[Service]
RemainAfterExit=yes
Type=oneshot
ExecStop=/usr/local/lib/tails-synchronize-tor-configuration-to-persistent-storage

[Install]
WantedBy=multi-user.target
