[Unit]
Description=Wait for Tor to Have Bootstrapped
Documentation=https://tails.net/contribute/design/
After=tor@default.service
BindsTo=tor@default.service

[Service]
Type=oneshot
RemainAfterExit=yes
User=debian-tor
ExecStart=/usr/local/lib/tor_wait_until_bootstrapped
TimeoutStartSec=0
CapabilityBoundingSet=
PrivateDevices=yes
PrivateTmp=yes
ProtectHome=yes
ProtectSystem=full

[Install]
WantedBy=tor@default.service