[Service]
Type=dbus
BusName=org.boum.tails.PersistentStorage
ExecStartPre=/usr/local/lib/persistent-storage/pre-start
ExecStart=/usr/local/lib/tps
ExecReload=/usr/bin/busctl call org.boum.tails.PersistentStorage /org/boum/tails/PersistentStorage org.boum.tails.PersistentStorage Reload

# Leave some CPU to keep the system responsive
CPUQuota=80%
